.App {
  margin: 0 auto;
  max-width: 700px;
  padding: 40px;
  font-family: "Ubuntu",
    sans-serif;
}

.App footer {
  font-size: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .App {
    padding: 20px;
  }

  .App footer {
    font-size: 10px;
  }
}