.Weather {
    background-color: white;
    padding: 20px;
    border: 1px solid #62DAFA;
    border-radius: 10px;
    margin-bottom: 10px;
}

.Weather .btn {
    background-color: #62DAFA;
    border: none;
}

.Weather .btn:hover {
    background-color: white;
    color: #62DAFA;
    border: 1px solid #62DAFA;
}

.Weather h1 {
    font-size: 28px;
    font-weight: 100;
    line-height: 20px;
    margin: 10px 0 5px 0;
}

.Weather ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Weather .temperature {
    font-size: 70px;
    font-weight: bold;
    margin: 10px;
}

.Weather .unit {
    position: relative;
    top: -36px;
}

.Weather canvas {
    margin-top: 27px;
}